:root {
	--clrBtnLogin: #7daee6;
	--clrBtnLoginHover: #557faf;
	--clrBtnLoginActive: #c7dcf5;
	--clrBtnDelete: #CD5C5C;
	--clrBtnDeleteHover: #E9967A;
  }


.btn {
	border: none;
  border-radius: 5px;
/* 	font-family: 'Lato'; */
/* 	font-size: inherit; */
/* 	color: inherit; */
/* 	background: none; */
  font: 15px 'Quicksand', sans-serif;
  font-weight: 500;
  font-style: normal;
	cursor: pointer;
	padding: 10px 15px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  
  background: var(--color7);
	color: var(--color6);
}

.btn:hover {
	background: var(--color8);
}

.btn:active {
	background: var(--color8);
	top: 2px;
}

.btnDelete {
    border: none;
    border-radius: 5px;
    padding: 2px 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    background: var(--clrBtnDelete);
	color: var(--color6);
}
.btnDelete:hover {
	background: var(--clrBtnDeleteHover);
}

.btnDelete:active {
	background: var(--color8);
	top: 2px;
}
.btnLogin {
    border: none;
    border-radius: 5px;
    padding: 7px 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    background: var(--clrBtnLogin);
	color: var(--color6);
}
.btnLogin:hover {
	background: var(--clrBtnLoginHover);
}

.btnLogin:active {
	background: var(--clrBtnLoginActive);
	top: 2px;
}

.btnCreate {background: var(--clrBtnLogin);}
.btnCreate:hover {background: var(--clrBtnLoginHover);}
.btnCreate:active {background: var(--clrBtnLoginActive);}