.admin_page_wrapper {
  display: flex;
  /* flex-direction: column; */
}
.adminNavWrapper {
  margin: 10px;
  padding: 15px;
  width: 250px;
  border-radius: 10px;
  background: var(--color9);
}
.LocationImg {
  width: 25px;
  margin-right: 10px;
}
.locations_wrapper {
  margin: 30px 15px 0px 0px;
  display: flex;
}
.adminCreateLocationFieldWrapper {
  margin-top: 30px;
  display: flex;
  max-width:600px;
}
.adminLocationsTable {
  display: inline-block;
  vertical-align: top;
  
  overflow-x: auto;
  
  white-space: nowrap;

  border-collapse: collapse;
  border-spacing: 0;
}
.adminLocationsTable tbody {
  /* optional - enable iOS momentum scrolling */
  -webkit-overflow-scrolling: touch;
  
  /* scrolling shadows */
  background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
              radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
}
/* gradient on the last cells to hide the right shadow */
.adminLocationsTable td:last-child {
  /* background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%; */
}

.adminLocationsTable th {
  font-size: 11px;
  text-align: left;
  text-transform: uppercase;
  background: var(--color2);
}

.adminLocationsTable th,
.adminLocationsTable td {
  padding: 6px 12px;
  border: 1px solid #d9d7ce;
}
.adminLocationsTable td {
  background: var(--color4);
}


button {margin: 0px 15px;}